extends base

block content 
  main.main
    if (url === '/my-tours' || url === '/my-tours?alert=booking')   
      div.heading-secondary-page-heading.ma-bt-xlg
        h3 Your bookings
    else
      // Hero Introduction Section
      section.hero-intro
        .hero-intro__content
          h1.hero-intro__title Discover Amazing Adventures
          p.hero-intro__subtitle Experience the world's most breathtaking destinations with expert guides and unforgettable memories
          .hero-intro__features
            .hero-intro__feature
              svg.hero-intro__icon
                use(xlink:href='img/icons.svg#icon-map-pin')
              span Expert Local Guides
            .hero-intro__feature
              svg.hero-intro__icon
                use(xlink:href='img/icons.svg#icon-star')
              span 5-Star Rated Tours
            .hero-intro__feature
              svg.hero-intro__icon
                use(xlink:href='img/icons.svg#icon-heart')
              span Small Group Adventures

      // Stats Section
      section.stats-section
        .stats-container
          .stat-item
            .stat-number 10,000+
            .stat-label Happy Travelers
          .stat-item
            .stat-number 50+
            .stat-label Destinations
          .stat-item
            .stat-number 4.9
            .stat-label Average Rating
          .stat-item
            .stat-number 15
            .stat-label Years Experience

      // Tours Section Header
      .tours-section-header
        h2.heading-secondary-page-heading.ma-bt-xlg
          span Explore Our Tours
        p.tours-section-subtitle Choose from our carefully curated selection of adventure tours around the world

    .card-container
    

      each tour in tours
        .card 
          .card__header 
            .card__picture 
              .card__picture-overlay &nbsp;        
                img.card__picture-img(src=`img/tours/${tour.imageCover}` alt=`${tour.name}`)
            h3.heading-tertirary 
              span= tour.name

          .card__details 
            h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
            p.card__text=tour.summary
            .card__data 
              svg.card__icon 
                use(xlink:href='img/icons.svg#icon-map-pin')
              span= tour.startLocation.description
            .card__data 
              svg.card__icon 
                use(xlink:href='img/icons.svg#icon-calendar')
              span= tour.startDates[0].toLocaleString('en-us', { month: 'long', year: 'numeric'})
            .card__data 
              svg.card__icon 
                use(xlink:href='img/icons.svg#icon-flag')
              span= `${tour.locations.length} stops`
            .card__data 
              svg.card__icon 
                use(xlink:href='img/icons.svg#icon-user')
              span= `${tour.maxGroupSize} people`

          .card__footer
            p 
              span.card__footer-value= `$${tour.price}`
              | 
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= tour.ratingsAverage
              | 
              span.card__footer-text= `(${tour.ratingsQuantity} ratings)`
            a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details
